<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>АИС "ИНФОРМ" - @ViewBag.Title </title>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/Image/favicon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Image/favicon.png">
    
    
    @Styles.Render("~/Content/css")
    
    
    @RenderSection("Header", required: false)
</head>
<body>

    <!-- WRAPPER -->
    <div id="wrapper">

        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            
            @*<div class="">
                <a href='@Url.Action("Index")' style="">
                    <img src="~/Image/logo.PNG" alt="AIS INFORM" class="img-responsive logo" width="100" height="20">
                </a>
            </div>*@

            

            <div class="container-fluid">
                <div class="brand">
                    <a href='@Url.Action("Index","Home")' style="">
                        <img src="~/Image/logo.PNG" alt="AIS INFORM" class="img-responsive logo">
                    </a>
                </div> 
                
                <div id="navbar-menu">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href='@Url.Action("Index","Home")'><i class="lnr lnr-home"></i> <span>Главная</span></a>
                        </li>

                        @*<li class="">
                            <a href='@Url.Action("Index","KhowBase")'><i class="lnr lnr-rocket"></i> <span>База знаний</span></a>
                        </li>*@

                        <li class="">
                            <a href='@Url.Action("Index","PriceDoc")'><i class="lnr lnr-file-empty"></i><span>Квитанция</span></a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-dice"></i><span>Списки СоцЦентра.</span><i class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href='@Url.Action("ListDou","ListSoc")'><i class="lnr lnr-user"></i> <span>Инормация по ДОУ</span></a></li>
                                <li><a href='@Url.Action("ListEdv","ListSoc")'><i class="lnr lnr-user"></i> <span>Информация по ЕДВ</span></a></li>
                                <li><a href='@Url.Action("ListOldPeople","ListSoc")'><i class="lnr lnr-user"></i> <span>Информация по Старожилам</span></a></li>
                                <li><a href='@Url.Action("ListPayKinder","ListSoc")'><i class="lnr lnr-user"></i> <span>Информация по Ежемесячному пособию по ребенка</span></a></li>
                                <li><a href='@Url.Action("ListGrant","ListSoc")'><i class="lnr lnr-user"></i> <span>Информация по Субсидиям</span></a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-magnifier"></i><span>Информация</span><i class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                @*<li><a href='@Url.Action("AreasGorZhilServic","Info")' class="">Участки ГорЖилСервис</a></li>
                                <li><a href='@Url.Action("ListKindergarten","Info")' class="">Список ДОУ</a></li>*@
                                <li><a href='@Url.Action("ProductionCalendar","Info")' class="">Производственный календарь</a></li>
                                @*<li><a href='@Url.Action("ProductionCalendar","Info")' class="">График смен</a></li>*@
                            </ul>
                        </li>


                        <!-- <li>
                <a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
            </li> -->
                    </ul>
                </div>







            </div>
        </nav>

        <!-- END NAVBAR -->
        

        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">



                    <!-- OVERVIEW -->
                    @if (TempData["message"] != null)
                    {
                    <div class="alert alert-success">@TempData["message"]</div>
                    }
                    
                    
                    @RenderBody()

                    <!-- END OVERVIEW -->


                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->




    </div>



  











    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("О программе", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>*@






    <div class="clearfix"></div>

    <footer>
        <div class="container-fluid">
            <hr />
            <p class="copyright">&copy; @DateTime.Now.Year All Rights Reserved.</p>
        </div>
    </footer>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/slimscroll")*@

    @*@Scripts.Render("~/bundles/Theme")*@

    
    
    
    
    

    @Scripts.Render("~/bundles/Scripts")

    <!-- END WRAPPER -->
    <!-- Javascript -->
    



    @*<script>
        window.onload = function () {
            var location = window.location.href;
            var cur_url = location.split('/').pop();

            $('#sidebar-nav li').each(function () {
                var link = $(this).find('a').attr('href');

                //if (cur_url == '') cur_url = 'Default';
                if (cur_url == link) $(this).find('a').addClass('active');
            });

        }
        
    </script>*@


    @RenderSection("Scripts",false)
</body>
</html>


@*http://dataservice.accuweather.com/currentconditions/v1/289119?apikey=M4jSx5GH0cxoYvyPz1yTfWblshJGmAXe&language=ru-ru*@


@section Scripts
{
    
    }