@using LibraryService
@model IEnumerable<ItemPayKinder>

@{
  ViewBag.Title = "Информация по Ежемесячному пособию на ребенка";
}

<div class="panel panel-headline">
    <div class="panel-heading">
        <h2 class="panel-title">@ViewBag.Title</h2>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                @using (Html.BeginForm("ListPayKinder", "ListSoc", FormMethod.Post, new { @class = "formsearch mb20" }))
                {
                <div class="col-md-4 form-group">
                    @Html.TextBox("LastName", "", new { @class = "form-control", placeholder = "Фамилия" })
                </div>
                <div class="col-md-4 form-group">
                    @Html.TextBox("FirstName", "", new { @class = "form-control", placeholder = "Имя" })
                </div>
                <div class="col-md-4 form-group">
                    @Html.TextBox("MiddleName", "", new { @class = "form-control", placeholder = "Отчетство" })
                </div>
                <div class="col-md-4 form-group">
                    <label for="DateBr">Дата рождения</label>
                    @Html.TextBox("DateBr", "", new { @class = "form-control", type = "date" })
                </div>
                <div class="col-md-12 form-action mb20">
                    <button type="submit" class="btn btn-primary">Найти</button>
                    @Html.ActionLink("Отменить", "ListPayKinder", null, new { @class = "btn btn-default" })
                </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="panel panel-headline">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">

                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Отчество</th>
                            <th>Дата рождения</th>
                            <th>Дата подачи заявления</th>
                            <th>Дата действия</th>
                            <th>Название выплаты</th>
                            <th>Основание</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in @Model)
                        {
                        <tr>
                            <td>@p.LastName</td>
                            <td>@p.FirstName</td>
                            <td>@p.MiddleName</td>
                            <td>@p.BrDate.ToShortDateString()</td>
                            <td>@p.EffictiveDate.ToShortDateString()</td>
                            <td>@p.DateOfApplication</td>
                            <td>@p.NamePay</td>
                            <td>@p.Base</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

