@model LibraryService.KhowBase.Service

@{
  ViewBag.Title = "Информация по Услуге";
}

<div class="panel">
    <div class="panel-heading">
        <h1>@Html.DisplayFor(model => model.Name)</h1>
        <h3>@Html.DisplayFor(model => model.SlName)</h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">

            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="text-info">Орган власти:&nbsp;</span>
                        <span>@Html.DisplayFor(model => model.Authory.Name)</span>
                    </li>
                    <li class="list-group-item">
                        <span class="text-info">@Html.DisplayNameFor(model => model.Categor.Name):&nbsp;</span>
                        <span>@Html.DisplayFor(model => model.Categor.Name)</span>
                    </li>
                    <li class="list-group-item">
                        <span class="text-info">@Html.DisplayNameFor(model => model.Frgu):&nbsp;</span>
                        <span>@Html.DisplayFor(model => model.Frgu)</span>
                    </li>
                </ul>

                <div class="row InfoService">
                    <div class="col-md-2">
                        @if (@Model.FlPeople)
                        { <div class="panel trueBG">Доступна физическим лицам</div> }
                        else
                        { <div class="panel falseBG">Доступна физическим лицам</div> }
                    </div>
                    <div class="col-md-2">
                        @if (Model.UnPeople)
                        { <div class="panel trueBG">Доступна юр. лицам</div> }
                        else
                        { <div class="panel falseBG">Доступна юр. лицам</div> }
                        
                    </div>
                    <div class="col-md-2">
                        @if (Model.IpPeople)
                        { <div class="panel trueBG">Доступна ИП</div> }
                        else
                        { <div class="panel falseBG">Доступна ИП</div> }
                        
                        
                    </div>
                    <div class="col-md-2">
                        @if (Model.PerentPeople)
                        { <div class="panel trueBG">Доступна представителям</div> }
                        else
                        { <div class="panel falseBG">Доступна представителям</div> }
                    </div>
                    <div class="col-md-2">
                        @if (Model.InAis)
                        { <div class="panel trueBG">Доступна в АИС</div> }
                        else
                        { <div class="panel falseBG">Доступна в АИС</div> }
                        
                        
                        
                        </div>




                    </div>
                </div>
                <div class="col-md-12 mt20">
                    <h3>Информация по услуге</h3>
                </div>
                <div class="col-md-12 mt5">
                    <div>
                        @Html.Raw(Model.Text)
                    </div>
                    
                </div>
            </div>
            
                



            </div>



    </div>
    <div class="panel-footer">
        @Html.ActionLink("Назад к списку органов власти", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>

