@using AisInformMVC.Models
@model ViewKnowBase
@{
  ViewBag.Title = "Index";
}


<div class="panel">
    <div class="panel-heading">
        <h1>База знаний - Список органов власти</h1>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Index", "KhowBase", FormMethod.Post, new { @class = "formsearch mb20" }))
        {
            <div class="input-group">
                <input type="text" id="search" name="search" value="@ViewBag.Search" class="form-control" placeholder="Введите название органа власти">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Найти</button>
                </span>
            </div>
        }

    </div>
</div>




@foreach (var item in Model.ViewAuthoritys)
{
<div class="panel-group" id="@String.Format("#view{0}", item.Id)">
    <div class="panel panel-info">
        <div class="panel-heading ">
            <h2 class="panel-title">@item.Name</h2>
            
            <div class="right"><button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button></div>
        </div>
        <div id="coll" class="panel-collapse in">
            <div class="panel-body">
                <div class="panel-group listDep" id="accordion">
                    @foreach (var Dep in Model.Authoritys.ToList().Where(d => d.ViewAuthorityId == item.Id))
                    {
                    <div class="panel">
                        <div class="panel-heading ">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="@String.Format("#view{0}", item.Id)" href="@String.Format("#dep{0}", Dep.Id)">
                                    <strong class="typeDep">@Dep.ViewAuth.GetSmallName()</strong>&nbsp;-&nbsp;<span>@Dep.Name</span>
                                </a>
                            </h4>
                        </div>
                        <div id="@String.Format("dep{0}", Dep.Id)" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="@String.Format("#depInfo{0}", Dep.Id)" data-toggle="tab">Информация по ОГВ</a></li>
                                    <li><a href="@String.Format("#ServInfo{0}", Dep.Id)" data-toggle="tab">Список услуг</a></li>
                                </ul>
                                <div class="tab-content border-tab" >

                                    <div class="tab-pane active DivInfo" id="@String.Format("depInfo{0}", Dep.Id)">
                                        <div class="infodepart container-fluid">
                                            <div class="col-md-9 val">
                                                <div><strong>Сокрашенное название:&nbsp;</strong><span>@Dep.SlName</span> </div>
                                                <div><strong>Тип ведомства:&nbsp;</strong><span> @Dep.ViewAuth.Name</span></div>
                                                <div><strong>Регион:&nbsp;</strong><span>@Dep.Terr.Name</span> </div>
                                                <div><strong>ИНН:&nbsp;</strong><span>@Dep.Inn</span></div>
                                                <div><strong>Адресс:&nbsp;</strong><span>@Dep.Adress</span></div>
                                                <div><strong>Ф.И.О. Руководителя:&nbsp;</strong><span>@Dep.FIOruk</span></div>
                                                <div><strong>Телефон:&nbsp;</strong><span>@Dep.Phone</span></div>
                                                <div>
                                                    <strong>Примечание:&nbsp;</strong><br />
                                                    <span>@Dep.Note</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="mb20">
                                                    <p class="text-center">
                                                        @if (Dep.Map == null)
                                                        {
                                                        <img src = "Image/no-photo.gif" class="image img-thumbnail "/>
                                                        }
                                                        else
                                                        {
                                                        <img src="@Url.Action("GetImage", "Authorities", new { Dep.Id })" 
                                                             class="image img-thumbnail " 
                                                             onclick="document.location.href = this.src;" />
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane DivInfo" id="@String.Format("ServInfo{0}", Dep.Id)">
                                        <ul class="list-group">
                                            @foreach (var Serv in Model.Services.ToList().Where(s => s.AuthorityId == Dep.Id))
                                            {
                                            <li class="list-group-item">
                                                <a href="@Url.Action("DetailsServices", "KhowBase", new { Serv.Id })">
                                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true">&nbsp;</span>
                                                    <span>@Serv.Name</span>
                                                </a>
                                            </li>

                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
}
