@using AisInformMVC.Models
@using AisInformMVC.HTMLHelpers
@model AisViewInfo


@{
  ViewBag.Title = "Главная";
}

<div class="row">
    <div class="container-fluid">

        @*@Html.Partial("Weather")*@

        <div class="row">
            
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                @Html.Partial("ViewAdsList", @Model)
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                @Html.Partial("Weather",Model.Weather)
                @Html.Partial("ViewBrDays", @Model.Employees)
                @Html.Partial("ViewHoliDays", @Model.Holiday)

            </div>


        </div>
    </div>
</div>

