@model LibraryService.Employee

@{
  ViewBag.Title = "Редактирование сотрудника";
}


<div class="panel">
    <div class="panel-heading">
        <h3>@ViewBag.Head</h3>
    </div>
    
        @using (Html.BeginForm("EditEmployees", "Employees"))
        {
        <div class="panel-body">
            @Html.HiddenFor(m => m.Id)


            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "Id")
                {
                <div class="form-group">
                    <label>@(property.DisplayName ?? property.PropertyName)</label>
                    @if (property.PropertyName == "Text")
                    {
                    @Html.TextArea(property.PropertyName, null,
                                new { @class = "form-control", rows = 5 })
                    }
                    else
                    {
                        if (property.PropertyName == "DateOfBirth")
                        {
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control", type = "date" })
                        }
                        else
                        {
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        }
                    }
                    @Html.ValidationMessage(property.PropertyName)
                </div>
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить", "ListEmployees", null, new { @class = "btn btn-default" })
        </div>
        }
        



</div>


